{{!--current tournament list --}}
<div class=container>
<h1>Your Tournaments</h1>
<ul>
{{#each tourneyLiveData as |live|}}
<li>
  <h1>Tournament Id: {{live.id}}</h1>
  <h2>Start Time: {{live.startTime}}</h2>
  <button data-id:{{live.id}}>View Tournament</button>
</li>
{{/each}}
</ul>
</div>
{{!-- join/create tournament list --}}
<div class=container>
<h1>Upcoming Tournaments</h1>
<ul>
{{#each upcomingTourneyData as |up|}}
<li>
  <h1>Tournament Id: {{up.id}}</h1>
  <h2>Start Time: {{up.startTime}}</h2>
  <button data-id:{{up.id}}>View Tournament</button>
</li>
{{/each}}
</ul>
 <button onclick="location.href = '/tournament';" type="submit" class="btn btn-primary">Create A Tournament</button>
</div>