{{!current tournament list }}
<div class="tourney-container">
  <h1>Your Tournaments</h1>
  <hr />
  {{#each tourneyLiveData as |live|}}
    <hr />
    <div class>

      <h1>Tournament Id: {{live.id}}</h1>
      <h2>Start Time: {{format_date live.startTime}}</h2>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-id: {{live.id}}>View Tournament</button>
      <hr />
    </div>
  {{/each}}
</div>
{{! join/create tournament list }}
<div class="tourney-container" style="padding-top: 20px">
  <h1>Upcoming Tournaments</h1>

  {{#each upcomingTourneyData as |up|}}
    <hr />
    <div class>

      <h1>Tournament Id: {{up.id}}</h1>
      <h2>Start Time: {{format_date up.startTime}}</h2>
      <button onclick="location.href = '/tournament?id={{up.id}}';" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Join
        Tournament</button>

    </div>
    <hr />
  {{/each}}

  <button
    onclick="location.href = '/tournament';"
    type="submit"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
  >Create A Tournament</button>
</div>