<div class="player-container">
  {{#each players as |player|}}
    <div
      class="max-w-sm rounded overflow-hidden shadow-lg player-card"
      style="outline: 2px solid white"
    >
      <div class="px-6 py-4">
        <div class="playerNum font-bold text-xl mb-2">Player #
          {{player.user_id}}</div>
        <p class="text-gray-700 text-base"></p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <ul>
          <h2>TOTAL CHANGE: ${{getDiffAll player.wallet}}</h2>
          {{#each player.wallet as |wallet|}}
            <div style="outline: 2px solid white">
              <h4>Ticker: {{wallet.ticker}}</h4>
              <p>Purchase Price: ${{wallet.purchasePrice}}</p>
              <p>Quantity: {{wallet.quantity}}</p>
              <p>Total Cost At Purchase: ${{wallet.total}}</p>
              <p>Current Price: ${{wallet.currentPrice}}</p>
              <p>Current Price Difference: ${{getDiff wallet}}</p>
            </div>
          {{/each}}
        </ul>
        {{#each coins as |coin|}}{{coin}}{{/each}}
      </div>
    </div>
  {{/each}}
</div>
<style>
  .player-card:last-child{ background-color: red; } .player-card:first-child {
  background-color: green; } .playerNum { font-size: 50px; }
</style>